<div class="jumbotron-mt-4">
    <h1 class="display-4">login-notes</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quasi eligendi provident sit a perferendis. Officia eos culpa inventore numquam obcaecati, nihil praesentium in ipsum aut odit quod? Aspernatur, corporis.</p>
    <hr class="my-4"/>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, nihil. Eos consequatur modi deserunt quo aperiam unde delectus quisquam in dolorem. Fuga ad quas temporibus ullam voluptates soluta, distinctio nulla.</p>
    <a href="https://maolink.herokuapp.com" class="btn btn-primary btn-lg">mi otra app notas</a>
</div>